/CanvasPanel$Coordinate.class
/CanvasPanel.class
/ColorsChooser.class
/ConfigFrame$ToolButtonListener.class
/ConfigFrame.class
/Painter.class
/Powd.class
/ToolsPanel$ToolButtonListener.class
/ToolsPanel.class
